body {
  background-color: #281549;
  color: #676767;
}

h1,
h2,
h3,
h4,
h6 {
  color: #ffffff;
}

h5 {
  color: #5f5f5f;
}

a {
  color: #5f5f5f;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #8400ff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.box-shadow,
.paralax-mf,
.featuredBox {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  box-shadow: 0 0 0 4px #e3c5ff;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.overlay-mf {
  background-color: #8400ff;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.sect-pt4 {
  padding-top: 4rem;
}

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

.title-box {
  margin-bottom: 4rem;
}

.title-a {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  color: #fff9f9;
}

.lineMf {
  width: 40px;
  height: 5px;
  background-color: #8400ff;
  margin: 0 auto;
}

.line-ol {
  width: 40px;
  height: 5px;
  background-color: #ffffff;
  margin: 0 auto;
}

.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #8400ff;
  width: 100px;
  bottom: -12px;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.socials {
  padding: 1.5rem 0;
}

.socials ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  max-width: 100%;
  list-style: none;
}

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px #8400ff;
  transition: all 500ms ease;
}

.socials .ico-circle:hover {
  background-color: #8400ff;
  color: #fff;
  box-shadow: 0 0 0 3px #e3c5ff;
  transition: all 500ms ease;
}

/* Ico Circle */
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #8400ff;
  display: block;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #8400ff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #8400ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Navbar */
.navbar-b {
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}

.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: #1B1B1B;
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
  width: 35px;
}

.navbar-b.navbar-trans .show>.nav-link:before,
.navbar-b.navbar-trans .active>.nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show>.nav-link:before,
.navbar-b.navbar-reduce .active>.nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #fff;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #fff;
}

.navbar-b.navbar-trans .show>.nav-link,
.navbar-b.navbar-trans .active>.nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #fff;
}

.navbar-b.navbar-reduce {
  transition: all .5s ease-in-out;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-b.navbar-reduce .nav-link {
  color: #8400ff;
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: #8400ff;
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: #8400ff;
}

.navbar-b.navbar-reduce .show>.nav-link,
.navbar-b.navbar-reduce .active>.nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: #8400ff;
}

.navbar-b.navbar-reduce .navbar-brand {
  color: #8400ff;
}

.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: #1B1B1B;
}

.navbar-b .navbar-brand {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: #8400ff;
  color: #fff;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: #8400ff;
}

/* Hamburger Navbar */
.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: none;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

/* Intro Content */
.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}

.intro .introContent {
  text-align: center;
  position: absolute;
}

.intro .overlayIntro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.intro .introTitle {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

.intro .introSubtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.intro .text-slider-items {
  display: none;
}

/* Home Section */
.aboutMf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.aboutMf .aboutImg {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.aboutMf .aboutImg img {
  margin-left: 10px;
  height: 250px;
}

.skillMf span {
  color: #4e4e4e;
}

.skillMf .progress {
  background-color: #e3c5ff;
  margin: .5rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;
}

.skillMf .progress .progress-bar {
  height: .7rem;
  background-color: #8400ff;
}

.section-counter {
  overflow: hidden;
}

.counter-box {
  color: #fff;
  text-align: center;
}

.counter-ico {
  margin-bottom: 1rem;
}

.counter-ico .ico-circle {
  height: 60px;
  width: 60px;
  line-height: 1.8;
  box-shadow: 0 0 0 10px #e3c5ff;
}

.counter-num .static-number {
  font-size: 2rem;
  margin-bottom: 0;
}

.title-box-a {
  position: relative;
  z-index: 2;
  color: white;
  margin-bottom: 2rem;
}

.container-a {
  position: relative;
  z-index: 2;
}

.featuredBox {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  height: 400px;
  text-decoration: none;
}

.featuredBox:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.featured-img {
  display: block;
  overflow: hidden;
}

.featured-img img {
  transition: all 1s;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.featured-content {
  padding: 0.5rem 2% 1rem 2%;
}

.featured-content .w-more {
  color: #4e4e4e;
  font-size: .8rem;
}

.featured-contentw-more span {
  text-decoration: none;
}

.featured-content .w-more .w-ctegory {
  color: #8400ff;
}

.featured-content .w-like {
  font-size: 2.5rem;
  color: #8400ff;
  float: right;
}

.featured-content .w-like a {
  color: #8400ff;
}

.featured-content .w-like .num-like {
  font-size: .7rem;
}

.featuredBox a {
  text-decoration: none;
  color: inherit;
}

.w-title {
  font-size: 1.2rem;
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  color: #000;
}

/* About Section */
.containerAbout {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}

.testimonial-box {
  color: #fff;
  text-align: center;
}

.testimonial-box .author-test {
  margin-top: 1rem;
}

.testimonial-box .author-test img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.testimonial-box .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  display: block;
  font-size: 1.4rem;
}

.testimonial-box .comit {
  font-size: 2rem;
  color: #8400ff;
  background-color: #fff;
  width: 52px;
  height: 52px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 1.6;
}

.content-test {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.custom-card {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #fff;
  margin: 50px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  z-index: 100;
}

.custom-card:hover {
  height: 320px;
}

.custom-card .image {
  position: relative;
  width: 100%;
  height: 200px;
  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.custom-card .image img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.custom-card .content {
  position: relative;
  top: -130px;
  padding: 20px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  max-height: 250px;
  overflow: auto;
}

.custom-card:hover .content,
.custom-card:active .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.custom-card:active {
  height: 300px;
}

/* Contact Section */

.footer-paralax {
  padding: 4rem 0 0 0;
}

.contact-mf {
  margin-top: 4rem;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactImage {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* button */

.button {
  display: inline-block;
  padding: .3rem .6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: .3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #5a03ac;
  color: #fff;
  transition: all 500ms ease;
}

@media (min-width: 577px) {
  .counter-box {
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 767px) {
  .aboutMf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }

  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }

  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    padding-left: 10px;
  }

  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
    margin-left: 18px;
  }

  .intro .introTitle {
    font-size: 4.5rem;
  }

  .intro .introSubtitle {
    font-size: 2.5rem;
  }

  .intro-single .introTitle {
    font-size: 3.5rem;
  }

  .aboutMf .description {
    padding: 0 5rem;
  }

  .post-box,
  .form-comments,
  .box-comments {
    padding: 3rem;
  }

  .comment-author {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .aboutMf .description {
    padding: 0 8rem;
  }
}

@media (min-width: 1200px) {
  .aboutMf .description {
    padding: 0 13rem;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}