.profile-card {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin: auto;
  }

  .profile-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }

  .profile-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
  }

  .profile-card:hover img {
    opacity: 0.8;
  }

  .carousel-item>.row {
    margin: 0;
    row-gap: 1rem;
  }

  .profile-name {
    text-align: start;
    color: white;
    margin-top: 0.5rem;
  }

  .profile-description {
    color: #6c757d;
    text-align: start;
    font-size: 0.875rem;
    margin-top: 1px;
    font-weight: normal;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    padding: 1rem;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .video-card {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    background-color: transparent;
  }

  .video-title {
    color: #6c757d;
    text-align: center;
    font-size: 1rem;
    margin-top: 1px;
    font-weight: bold;
  }